<div class="before-card">
    <div class="weather-card">
        <div class="card-heading">
            <div class="card-logo"><i class="fa-solid fa-sun "></i></div>
            <div class="card-heading-details">
                <h3><%= weather.dayOfweek.toUpperCase() %> </h3>
                <h6><%= weather.description %> </h6>
            </div>
            <div class="card-heading-temp">
                <h1><%= weather.currentTemp %> &deg;C</h1>
            </div>
        </div>
        <div class="card-details">
            <div class="card-details-low">
                <h3>Low Temperature</h3>
                <h3><%= weather.lowTemp %> &deg;C</h3>
            </div>
            <div class="card-details-high">
                <h3>High Temperature</h3>
                <h3><%= weather.highTemp %> &deg;C</h3>
            </div>
            <div class="card-details-wind">
                <h3>Wind Speed</h3>
                <h3><%= weather.windSpeed %>  km/hr</h3>
            </div>
            <div class="card-details-pop">
                <h3>Precpitation</h3>
                <h3><%= weather.POP*100 %> &percnt;</h3>
            </div>
        </div>
        
    </div>
</div>